<h3>Here are all of the animals at the Zhu:</h3>
<select (change)="onChange($event.target.value)">
  <option value="allAnimals" selected="selected">All Animals</option>
  <option value="mature">2 yrs and older</option>
  <option value="baby">Baby animals</option>
</select>
<br><br>
<div class="flex-container">
  <ul class="list-unstyled" *ngFor="let currentAnimal of childAnimalList | animalAge:filterByAge">
    <div class="flex-item">
      <li>
        <div class="well">
          <h3>{{currentAnimal.name}}</h3>
          <h4>{{currentAnimal.age}} years old, {{currentAnimal.species}}</h4>
          <h4>{{currentAnimal.diet}}</h4>
          <h4>Currently hanging out at {{currentAnimal.location}}</h4>
          <h4>Requires {{currentAnimal.caretakers}} caretakers</h4>
          <h4>Enjoys {{currentAnimal.likes}}</h4>
          <h4>Dislikes {{currentAnimal.dislikes}}</h4>
          <button (click)="editButtonHasBeenClicked(currentAnimal)">Edit {{currentAnimal.name}}</button>
        </div>
      </li>
    </div>
  </ul>
</div>
