<br>
<button (click)="showAddForm()">Add new animal!</button>
<br><br>
<div class="well" *ngIf="addAnimal===true">
  <h1>New Animal:</h1>
  <label>What's its name?</label>
  <input #newName><br>
  <label>What kind of animal is it?</label>
  <input #newSpecies><br>
  <label>How old is it?</label>
  <input #newAge><br>
  <label>Carnivore, Herbivore, or Omnivore?</label>
  <input #newDiet><br>
  <label>Where does it live at the Zhu?</label>
  <input #newLocation><br>
  <label>How many caretakers does it require?</label>
  <input #newCaretakers><br>
  <label>Is it male or female?</label>
  <input #newSex><br>
  <label>What does it like?</label>
  <input #newLikes><br>
  <label>What does it dislike?</label>
  <input #newDislikes><br><br>
  <button (click)="submitForm(newName.value, newSpecies.value, newAge.value, newDiet.value, newLocation.value, newCaretakers.value, newSex.value, newLikes.value, newDislikes.value); newName.value=''; newSpecies.value=''; newAge.value=''; newDiet.value=''; newLocation.value=''; newCaretakers.value=''; newSex.value=''; newLikes.value=''; newDislikes.value='';">Submit new animal!</button>
</div>
