<div *ngIf="childSelectedAnimal">
  <div class="well">
    <h3>Edit {{childSelectedAnimal.name}}:</h3>
    <label>Rename</label>
    <input type="text" [(ngModel)]=childSelectedAnimal.name required>
    <br>
    <label>Did {{childSelectedAnimal.name}} have a birthday?! How old is {{childSelectedAnimal.name}} now?</label><br>
    <input type="number" [(ngModel)]=childSelectedAnimal.age>
    <br>
    <label>Adjust number of caretakers</label>
    <input type="number" [(ngModel)]=childSelectedAnimal.caretakers>
    <br>
    <button (click)="doneButtonClicked()">Finished Editing</button>
  </div>
</div>
