<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <div class="row">
        <div class="col-md-8">
          <h2>{{title}}</h2>
          <h4><em>{{totalCaretakers}} caretakers are needed for {{currentDate | date:'EEEE'}}</em></h4>
          <h4><em>Did you know that the average age of all Zhu animals is {{averageAge}} years?!</em></h4>
        </div>
        <div class="col-md-4">
          <img src="../assets/img/tree.png">
          <img src="../assets/img/tree.png">
          <img src="../assets/img/tree.png">
        </div>
      </div>
      <!-- <button (click)="refreshCaretakers()">Refresh from updates</button> -->
    </div>
  </div>
</nav>
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <edit-animal [childSelectedAnimal]="selectedAnimal" (doneButtonClickedSender)="finishedEditing()"></edit-animal>
    </div>
    <div class="col-md-6">
      <new-animal (newAnimalSender)="addAnimal($event)"></new-animal>
    </div>
  </div>
  <animal-list [childAnimalList]="masterAnimalList" (clickSender)="editAnimal($event)"></animal-list>
</div>
